@model ST.WebUI.ViewModels.ReportFormViewModel
@{
    ViewBag.Title = "ReportForm";
}

<h2>Reports</h2>

<div class="report-options">
    <div class="controls">
        <button class="btn btn-default add-filter">Add Filter</button>
    </div>
    <div class="filters">
        <div id="filter-0" class="filter">

            <div class="form-group">
                <label>Select Category</label>
                <select class="form-control categories" data-wired="false">
                    <option selected disabled>Select category</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Select Skill</label>
                <select id="filter-0" class="form-control skills"></select>
            </div>

            <div class="form-group comparer-container">
                <label>Comparer</label>
                <select class="form-control comparer">
                    <option value="0">>=</option>
                    <option value="1"><=</option>
                    <option value="2">==</option>
                </select>
            </div>

            <div class="form-group rating-container">
                <label>Rating</label>
                <select class="form-control rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
    </div>
    <div class="actions">
        <button class="btn btn-default begin-search">Generate</button>
        <button class="btn btn-info save-report disabled">Save Report</button>
    </div>
</div>
<hr />
<h2>Results:</h2>
<div id="results">

</div>

@section scripts
{
    <script>
        $(function () {
            ReportsController.init(); 
        });     
    </script>
}
